* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: #2d2720;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: top;
    margin-top: 5vh;
}

.term-window {
    background-color: black;
    width: min(1200px, 90vw);
    height: min(800px, 90vh);
    color: green;
    font-family: Tiny5, Regular;
    font-size: 32px;
    border: 40px outset #211e1a;
    border-radius: 20px;
    padding: 18px;
    display: flex;
}

.term-display {
    display: grid;
    grid-template-columns: 
        minmax(0, 3fr)
        minmax(0, 2fr);
    grid-template-rows:
        minmax(0, 1fr)
        100px;
    grid-template-areas:
        "left right"
        "bottom bottom";

    width: 100%;
    height: 100%;

}

.terminal-input,
.terminal-output,
.terminal-content {
    border: 2px solid yellow;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    overflow-wrap: anywhere;
    padding: 8px;
}

.terminal-output {
    grid-area: left;

    display: flex;
    align-items: flex-end;
}

.terminal-content {
    grid-area: right;
    border-left: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.terminal-input {
    grid-area: bottom;
    margin-top: 8px;
    display: flex;
    align-items: center;
}
